
{% for item in navbar %}
    {% if item.__children is not empty %}
      <li class="dropdown">
        <a href="{{ path('product_list', {'categoryProduct': (item.slug)} ) }}">{{ item.name }}</a>
	<ul class="dropdown-menu">
          {% for subitem in item.__children %}
          <li>
            <a href="#">
            {{ subitem.name }}
            </a>
          </li>
          {% endfor %}
	</ul>
      </li>
    {% else %}
      <li>
	<a href="#">
	{{ item.name }}
	</a>
      </li>
    {% endif %}
{% endfor %}
</ul>
