html {
  min-height: 100% !important;
  position: relative !important; }
  html body {
    color: #7F6860;
    padding-bottom: 420px; }
    html body header {
      position: relative; }
      html body header .vertical-menu-left {
        width: 300px; }
        @media screen and (max-width: 768px) {
          html body header .vertical-menu-left {
            position: absolute;
            top: 0;
            left: -300px;
            z-index: 100;
            transition: left 500ms;
            border: 1px solid #ccc;
            background: #fff; } }
        html body header .vertical-menu-left .left-menu-close {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2000; }
        @media screen and (max-width: 768px) {
          html body header .vertical-menu-left.hi {
            left: 0px; } }
      html body header .navbar-first {
        color: #7F6860;
        background-color: #F2D2E1 !important; }
        html body header .navbar-first a {
          color: #7F6860 !important; }
        html body header .navbar-first #_submit {
          background-color: #7F6860 !important;
          border: 0; }
          html body header .navbar-first #_submit:hover {
            background: #998179 !important; }
        html body header .navbar-first .cart-item {
          cursor: pointer;
          position: relative; }
          html body header .navbar-first .cart-item .dropdown-menu {
            width: 270px !important; }
          html body header .navbar-first .cart-item:hover .dropdown-menu {
            display: block; }
          html body header .navbar-first .cart-item .dropdown-menu {
            width: 458px; }
            html body header .navbar-first .cart-item .dropdown-menu ul {
              list-style: none; }
          html body header .navbar-first .cart-item .bottom-links {
            font-size: 14px; }
      html body header .navbar-second {
        background: #fff;
        border-bottom: 1px solid #DACCC7; }
        @media screen and (max-width: 768px) {
          html body header .navbar-second {
            border-top: 3px solid #F2D2E1; } }
        html body header .navbar-second .container {
          padding-left: 0 !important;
          padding-right: 0 !important; }
          html body header .navbar-second .container .navbar {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important; }
            html body header .navbar-second .container .navbar .nav-item {
              margin-left: 8px !important;
              font-size: 15px; }
              html body header .navbar-second .container .navbar .nav-item a:hover {
                color: #000 !important; }
              html body header .navbar-second .container .navbar .nav-item a.current-route {
                color: #000 !important; }
          html body header .navbar-second .container .logo {
            width: 122px; }
            @media screen and (max-width: 768px) {
              html body header .navbar-second .container .logo {
                width: 110px; } }
            @media screen and (max-width: 768px) {
              html body header .navbar-second .container .logo {
                width: 110px; } }
            @media screen and (max-width: 544px) {
              html body header .navbar-second .container .logo {
                width: 80px; } }
          html body header .navbar-second .container .root-ul > li > a {
            color: #7F6860 !important;
            height: 70px !important;
            line-height: 70px !important; }
            @media screen and (max-width: 992px) {
              html body header .navbar-second .container .root-ul > li > a {
                height: 40px !important;
                line-height: 40px !important; } }
          html body header .navbar-second .container .dropdown-menu {
            border-radius: 0;
            border: 1px solid #ccc;
            padding-top: 10px; }
            @media screen and (max-width: 990px) {
              html body header .navbar-second .container .dropdown-menu {
                position: relative;
                float: none; } }
            html body header .navbar-second .container .dropdown-menu li {
              line-height: 35px; }
              html body header .navbar-second .container .dropdown-menu li a {
                color: #7F6860 !important; }
          html body header .navbar-second .container .search {
            padding-top: 27px;
            width: 100px; }
            @media screen and (max-width: 990px) {
              html body header .navbar-second .container .search {
                padding-top: 17px;
                padding-right: 12px;
                width: 150px; } }
    html body main {
      margin-top: 133px; }
      @media screen and (max-width: 992px) {
        html body main {
          margin-top: 133px; } }
      @media screen and (max-width: 768px) {
        html body main {
          margin-top: 86px; } }
      @media screen and (max-width: 544px) {
        html body main {
          margin-top: 69px; } }
      html body main .carousel-item {
        height: 440px !important; }
        @media screen and (max-width: 992px) {
          html body main .carousel-item {
            height: 420px; } }
        @media screen and (max-width: 768px) {
          html body main .carousel-item {
            height: 260px !important; } }
        @media screen and (max-width: 544px) {
          html body main .carousel-item {
            height: 200px; } }
        html body main .carousel-item img {
          width: 100% !important; }
      html body main .free-shipping {
        background: #F2D2E1;
        padding: 15px; }
        html body main .free-shipping .truck-container {
          border-right: 1px solid #705947; }
          @media screen and (max-width: 992px) {
            html body main .free-shipping .truck-container {
              border-right: 0; } }
          @media screen and (max-width: 544px) {
            html body main .free-shipping .truck-container {
              padding-right: 0 !important; } }
        html body main .free-shipping .big-text {
          padding: 10px 20px;
          background: #705947;
          color: #F2D2E1;
          font-size: 37px;
          display: inline-block;
          margin-left: 4.1% !important; }
          @media screen and (max-width: 1200px) {
            html body main .free-shipping .big-text {
              font-size: 27px; } }
          @media screen and (max-width: 992px) {
            html body main .free-shipping .big-text {
              font-size: 24px; } }
          @media screen and (max-width: 544px) {
            html body main .free-shipping .big-text {
              font-size: 20px;
              margin-top: 13px; } }
          @media screen and (max-width: 450px) {
            html body main .free-shipping .big-text {
              font-size: 17px; } }
        html body main .free-shipping .devoluciones-container-first {
          border-left: 1px solid #705947; }
          @media screen and (max-width: 992px) {
            html body main .free-shipping .devoluciones-container-first {
              border-left: 0; } }
          html body main .free-shipping .devoluciones-container-first .devoluciones {
            font-size: 21px; }
            @media screen and (max-width: 992px) {
              html body main .free-shipping .devoluciones-container-first .devoluciones {
                width: 30%;
                float: left; } }
          html body main .free-shipping .devoluciones-container-first .quince-dias {
            font-size: 15px;
            color: #705947;
            background: #F2D2E1;
            width: 75%;
            float: left; }
            @media screen and (max-width: 992px) {
              html body main .free-shipping .devoluciones-container-first .quince-dias {
                width: auto; } }
          html body main .free-shipping .devoluciones-container-first .flecha {
            width: 25%;
            float: left; }
            @media screen and (max-width: 992px) {
              html body main .free-shipping .devoluciones-container-first .flecha {
                width: 35px; } }
        html body main .free-shipping .devoluciones-container-second span {
          line-height: 60px;
          height: 60px; }
          @media screen and (max-width: 992px) {
            html body main .free-shipping .devoluciones-container-second span {
              font-size: 20px; } }
          @media screen and (max-width: 544px) {
            html body main .free-shipping .devoluciones-container-second span {
              font-size: 15px; } }
          @media screen and (max-width: 400px) {
            html body main .free-shipping .devoluciones-container-second span {
              font-size: 13px; } }
          @media screen and (max-width: 350px) {
            html body main .free-shipping .devoluciones-container-second span {
              font-size: 12px; } }
        html body main .free-shipping .devoluciones-container-second img {
          width: 30px; }
      @media (min-width: 768px) {
        html body main .carousel-inner {
          width: 100%;
          margin: 0; } }
      html body main .breadcrumbs-container {
        padding: 10px 0;
        background: #F2D2E1; }
        html body main .breadcrumbs-container a {
          color: #7F6860; }
      html body main .filter-button {
        cursor: pointer; }
        @media screen and (max-width: 990px) {
          html body main .filter-button .text-filter-button::after {
            content: 'Mostrar filtro'; } }
        @media screen and (min-width: 990px) {
          html body main .filter-button .text-filter-button::after {
            content: 'Ocultar filtro'; } }
      html body main .products-container {
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex; }
        html body main .products-container .filter-container {
          width: 150px;
          margin-right: 20px;
          transition: margin 500ms; }
          @media screen and (max-width: 990px) {
            html body main .products-container .filter-container {
              margin-left: -175px; } }
          html body main .products-container .filter-container #filter p label {
            font-weight: bold; }
          html body main .products-container .filter-container #filter .form-group {
            margin-top: 15px; }
            html body main .products-container .filter-container #filter .form-group > label {
              font-weight: bold; }
        html body main .products-container .products {
          transition: width 500ms;
          flex-grow: 1;
          min-height: 600px;
          position: relative; }
          html body main .products-container .products .grid-item {
            padding-left: 6px !important;
            padding-right: 6px !important; }
          html body main .products-container .products .product-container {
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid #daccc7; }
            html body main .products-container .products .product-container .info-product {
              position: relative; }
              html body main .products-container .products .product-container .info-product .wishlist {
                position: absolute;
                top: 6px;
                right: 6px;
                color: #7F6860; }
                html body main .products-container .products .product-container .info-product .wishlist .wished {
                  color: #EBB0CC !important; }
          html body main .products-container .products .loader-high {
            position: absolute;
            right: 0;
            left: 0;
            margin: auto; }
          html body main .products-container .products .loader-low {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            display: none; }
    html body .product-container .product-card {
      border: 1px solid #daccc7;
      padding: 5px; }
    html body .product-container .product-data {
      padding-left: 48px; }
      @media screen and (max-width: 990px) {
        html body .product-container .product-data {
          padding-left: 14px; } }
      html body .product-container .product-data .social {
        padding-top: 20px;
        height: 35px; }
        html body .product-container .product-data .social .fb-share-button {
          float: left;
          margin-top: -4px;
          margin-right: 10px; }
      html body .product-container .product-data a {
        color: #7F6860 !important; }
      html body .product-container .product-data .quantity .sign {
        color: #fff;
        padding: 10px 17px;
        background-color: #7F6860;
        font-size: 15px;
        cursor: pointer; }
        html body .product-container .product-data .quantity .sign:hover {
          background: #998179; }
        html body .product-container .product-data .quantity .sign.minus {
          -webkit-border-top-left-radius: 0.25rem;
          -webkit-border-bottom-left-radius: 0.25rem;
          -moz-border-radius-topleft: 0.25rem;
          -moz-border-radius-bottomleft: 0.25rem;
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
          margin-left: 9px; }
        html body .product-container .product-data .quantity .sign.plus {
          -webkit-border-top-right-radius: 0.25rem;
          -webkit-border-bottom-right-radius: 0.25rem;
          -moz-border-radius-topright: 0.25rem;
          -moz-border-radius-bottomright: 0.25rem;
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem; }
      html body .product-container .product-data .quantity input {
        width: 50px;
        display: inline;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
        margin: 0 !important;
        height: 42px; }
      html body .product-container .product-data button {
        background: #7F6860;
        border: 0; }
        html body .product-container .product-data button:hover {
          background: #998179; }
      html body .product-container .product-data .wished {
        color: #EBB0CC !important; }
      html body .product-container .product-data .secondary-description {
        border-top: 1px solid #7F6860; }
    html body .physical-store-container img {
      border: 1px solid #daccc7;
      padding: 4px; }
    html body .arrow-container p {
      padding: 0 !important; }
      html body .arrow-container p .btn {
        background-color: #7F6860 !important;
        color: #fff !important; }
        html body .arrow-container p .btn:hover {
          background: #998179 !important; }
    html body .registration-login-container .btn {
      background-color: #7F6860 !important;
      color: #fff !important; }
      html body .registration-login-container .btn:hover {
        background: #998179 !important; }
    html body .contact-container button {
      background-color: #7F6860 !important;
      color: #fff !important; }
      html body .contact-container button:hover {
        background: #998179 !important; }
    html body footer {
      color: #8F7268;
      width: 100%;
      position: absolute !important;
      bottom: 0 !important;
      background: #F2D2E1; }
      html body footer .facebook-icon {
        color: #3b5998;
        vertical-align: middle; }
      html body footer .condiciones {
        font-size: 12px; }
      html body footer a {
        color: #8F7268 !important; }
        html body footer a.email {
          font-size: 23px; }

/*# sourceMappingURL=frontend.css.map */