.products-list {
  .subitem {
    position: relative;
    .eliminar {
      position: absolute;
      top: 0;
      right: 4px;
    }
    .img-trash {
      margin-right: 15px;
      height: 100%;
    }
  }
}
